

/* Body */
body {
	margin: 0;
	font-family: 'Gothic A1', sans-serif;
	font-style: normal;
	letter-spacing: 2px;
}

*{
    box-sizing: border-box;
}

.topNav{
	width: 100%;
	height: 20vh;
	overflow: hidden;
    margin: 0 auto;
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.home{
	padding: 30px;
	margin-top: -50px;
	width: 20%;
}

.navContainer{
	height: 100%;
	width: 80%;
	display: flex;
	margin:0;
}

.about{
	background: rgba(215, 207, 185, 1);
	width: 20%;
	text-align: center;
}

.events{
	background: rgba(215, 207, 185, 0.8);
	width: 20%;
	text-align: center;
}

.stories{
	background: #d77a61;
	width: 20%;
	text-align: center;
}


.classes{
	background: rgba(215, 207, 185, 0.4);
	width: 20%;
	text-align: center;
}

.resources{
	background: rgba(215, 207, 185, 0.2);
	width: 20%;
	text-align: center;
}



.logo{
	display: inline-block;
	font-size: 22px;
	font-family: 'Gothic A1', sans-serif;
	width: 20%;
	text-align: center;
	color: #585859;
	background: white;
}

.logo h1{
	font-weight: 100;
}

.topLinks{
    color: #585859;
	font-family: 'Gothic A1', sans-serif;
	font-size: 35px;
	font-style: normal;
	font-weight: 100;
    text-decoration: none;
	display: block;
	margin-top: 30%;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.topLinks:hover{
	color: white;
}

body>.test1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 50px;
}

body>.test1>.test2 {
  flex-grow: 1;
  width: 33%;
  height: 300px;
}

body>.test1>.test2:nth-child(even) {
	padding: 10px;
}

body>.test1>.test2:nth-child(odd) {
	padding: 10px;
}

.test2 img{
	max-width: 100%;
	max-height: 100%;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.imageTab {
	transition: 1.8s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 5px;
}

.test2{
	overflow: hidden;
	position: relative;
}

.test2:hover .imagePreview{
	opacity: 0.7;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.test2:hover .imageTab {
  opacity: 1;
}

.pictureButton {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	background: #d77a61;
	padding: 0px 10px;
	border-radius: 5px;
}

.pictureButton a{
	text-decoration: none;
	font-size: 20px;
	color: white;
}

.pictureButton h1{
	font-size: 22px;
}

.pictureButton p{
	margin-top: -10px;
	font-size: 15px;
}




