
  
/* Body */
body {
	margin: 0;
	font-family: 'Gothic A1', sans-serif;
	font-style: normal;
	letter-spacing: 2px;
}

*{
    box-sizing: border-box;
}

.topNav{
	padding: 10px;
	width: 100%;
	height: 20vh;
	overflow: hidden;
    background-color: #fffbf7;
    margin: 0;
	display: flex;
	
}

.navContainer{
	height: 100%;
	width: 80%;
	display: flex;
	margin:0;
}

.test1{
	background: #d7cfb9;
	width: 20%;
}

.test2{
	background: #d7cfb9;
	opacity: 0.8;
	width: 20%;
}

.test3{
	background: #d7cfb9;
	opacity: 0.6;
	width: 20%;
}


.test4{
	background: #d7cfb9;
	opacity: 0.4;
	width: 20%;
}

.test5{
	background: #d7cfb9;
	opacity: 0.2;
	width: 20%;
}



.logo{
	display: inline-block;
	font-size: 20px;
	width: 20%;

}

.orange{
	color: #d7cfb9;
}


.topLinks{
	text-decoration: none;
    color: black;
    text-align: center;
	font-family: 'Gothic A1', sans-serif;
    padding: 10px 30px;
	font-size: 24px;
	font-style: normal;
	letter-spacing: 2px;
	font-weight: 100;
    text-decoration: none;

	
}

/* Underline Reveal For Top Links */
.topLinks{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

/* First image resized to fit any display */
img.imagePreview{
	display: block;
	width:100%;
	height:auto;
	transition: 1.8s ease;
	backface-visibility: hidden;
}

/* A div with some text for the image above, describing the design process. Still unfinished */
#description{
	background-color: white;
	position: relative;
	padding: 10px 50px;
	width: 75%;
	font-size: 20px;
	margin-left: 150px;
	margin-right: 150px;
	font-family:: "URW DIN", "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif !important;
	color: red;
}

#desc_header{
	text-align: center;
	color: #db8530;
	font-size: 45px;
	font-family:: "URW DIN", "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif !important;
}






